python/viewer_conf.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="0.1">

<!-- definition of attributes -->
<xs:attribute name="version" type="xs:string"/>
<xs:attribute name="url" type="xs:string"/>
<xs:attribute name="name" type="xs:string"/>
<xs:attribute name="x" type="xs:float"/>
<xs:attribute name="y" type="xs:float"/>
<xs:attribute name="z" type="xs:float"/>
<xs:attribute name="h" type="xs:float"/>
<xs:attribute name="p" type="xs:float"/>
<xs:attribute name="r" type="xs:float"/>
<xs:attribute name="degrees" type="xs:float"/>
<xs:attribute name="pixels" type="xs:float"/>
<xs:attribute name="touch" type="xs:byte"/>
<xs:attribute name="accel" type="xs:float"/>
<xs:attribute name="friction" type="xs:float"/>
<xs:attribute name="steerFriction" type="xs:float"/>
<xs:attribute name="on" type="xs:byte"/>
<xs:attribute name="type" type="xs:string"/>
<xs:attribute name="height" type="xs:float"/>
<xs:attribute name="near_2exp" type="xs:byte"/>
<xs:attribute name="far_2exp" type="xs:byte"/>
<xs:attribute name="maxCars" type="xs:byte"/>
<xs:attribute name="personDensity" type="xs:float"/>
<xs:attribute name="roads" type="xs:string"/>
<xs:attribute name="rooms" type="xs:string"/>
<xs:attribute name="value" type="xs:float"/>
<xs:attribute name="diffuse" type="xs:float"/>
<xs:attribute name="ambient" type="xs:float"/>
<xs:attribute name="sun_altitude" type="xs:float"/>
<xs:attribute name="sun_azimuth" type="xs:float"/>
<xs:attribute name="position_latitude" type="xs:float"/>
<xs:attribute name="position_longitude" type="xs:float"/>
<xs:attribute name="shadowIntensity" type="xs:float"/>
<xs:attribute name="ssaoIntensity" type="xs:float"/>
<xs:attribute name="nearplane" type="xs:byte"/>
<xs:attribute name="farplane" type="xs:byte"/>
<xs:attribute name="mapcount" type="xs:byte"/>
<xs:attribute name="mapsize" type="xs:byte"/>
<xs:attribute name="polyoffsetfactor" type="xs:byte"/>
<xs:attribute name="polyoffsetunits" type="xs:short"/>
<xs:attribute name="update_shadowmap" type="xs:byte"/>
<xs:attribute name="vizible" type="xs:byte"/>
<xs:attribute name="frozen" type="xs:byte"/>
<xs:attribute name="layer" type="xs:string"/>
<xs:attribute name="xs" type="xs:float"/>
<xs:attribute name="ys" type="xs:float"/>
<xs:attribute name="zs" type="xs:float"/>
<xs:attribute name="castShadow" type="xs:byte"/>
<xs:attribute name="status" type="xs:string"/>
<xs:attribute name="prototype" type="xs:string"/>
<xs:attribute name="uniqueName" type="xs:string"/>
<xs:attribute name="labelText" type="xs:string"/>
<xs:attribute name="labelColorRed" type="xs:float"/>
<xs:attribute name="labelColorGreen" type="xs:float"/>
<xs:attribute name="labelColorBlue" type="xs:float"/>
<xs:attribute name="labelRotateScreen" type="xs:byte"/>
<xs:attribute name="outline" type="xs:byte"/>
<xs:attribute name="Font" type="xs:string"/>


<!-- definition of simple elements -->

<!-- definition of complex elements -->
<xs:element name="objectLibrary">
    <xs:complexType>
        <xs:attribute ref="url" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="camera">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
        <xs:attribute ref="x" use="required"/>
        <xs:attribute ref="y" use="required"/>
        <xs:attribute ref="z" use="required"/>
        <xs:attribute ref="h" use="required"/>
        <xs:attribute ref="p" use="required"/>
        <xs:attribute ref="r" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="cameras">
    <xs:complexType>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="camera"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="objectRotationSnap">
    <xs:complexType>
        <xs:attribute ref="degrees" use="required"/>
        <xs:attribute ref="pixels" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="screen">
    <xs:complexType>
        <xs:attribute ref="touch" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="mouse">
    <xs:complexType>
        <xs:attribute ref="accel" use="required"/>
        <xs:attribute ref="friction" use="required"/>
        <xs:attribute ref="steerFriction" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="softBrake">
    <xs:complexType>
        <xs:attribute ref="friction" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="keysLeftRight">
    <xs:complexType>
        <xs:attribute ref="accel" use="required"/>
        <xs:attribute ref="friction" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="keysForwardBackward">
    <xs:complexType>
        <xs:attribute ref="accel" use="required"/>
        <xs:attribute ref="friction" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="keysVerticalUpDown">
    <xs:complexType>
        <xs:attribute ref="accel" use="required"/>
        <xs:attribute ref="friction" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="flySmoothlyToCameras">
    <xs:complexType>
        <xs:attribute ref="on" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="walkMode">
    <xs:complexType>
        <xs:attribute ref="type" use="required"/>
        <xs:attribute ref="height" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="cameraParameters">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="screen"/>
            <xs:element ref="mouse"/>
            <xs:element ref="softBrake"/>
            <xs:element ref="keysLeftRight"/>
            <xs:element ref="keysForwardBackward"/>
            <xs:element ref="keysVerticalUpDown"/>
            <xs:element ref="flySmoothlyToCameras"/>
            <xs:element ref="walkMode"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="slaveViewClearPitch">
    <xs:complexType>
        <xs:attribute ref="on" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="clip">
    <xs:complexType>
        <xs:attribute ref="near_2exp" use="required"/>
        <xs:attribute ref="far_2exp" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="simulation">
    <xs:complexType>
        <xs:attribute ref="maxCars" use="required"/>
        <xs:attribute ref="personDensity" use="required"/>
        <xs:attribute ref="roads" use="required"/>
        <xs:attribute ref="rooms" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="LODscale">
    <xs:complexType>
        <xs:attribute ref="value" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="light">
    <xs:complexType>
        <xs:attribute ref="diffuse" use="required"/>
        <xs:attribute ref="ambient" use="required"/>
        <xs:attribute ref="sun_altitude" use="required"/>
        <xs:attribute ref="sun_azimuth" use="required"/>
        <xs:attribute ref="position_latitude" use="required"/>
        <xs:attribute ref="position_longitude" use="required"/>
        <xs:attribute ref="shadowIntensity" use="required"/>
        <xs:attribute ref="ssaoIntensity" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="shadow">
    <xs:complexType>
        <xs:attribute ref="nearplane" use="required"/>
        <xs:attribute ref="farplane" use="required"/>
        <xs:attribute ref="mapcount" use="required"/>
        <xs:attribute ref="mapsize" use="required"/>
        <xs:attribute ref="polyoffsetfactor" use="required"/>
        <xs:attribute ref="polyoffsetunits" use="required"/>
        <xs:attribute ref="update_shadowmap" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="backFaceCulling">
    <xs:complexType>
        <xs:attribute ref="on" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="preferences">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="objectRotationSnap"/>
            <xs:element ref="cameraParameters"/>
            <xs:element ref="slaveViewClearPitch"/>
            <xs:element ref="clip"/>
            <xs:element ref="simulation"/>
            <xs:element ref="LODscale"/>
            <xs:element ref="light"/>
            <xs:element ref="shadow"/>
            <xs:element ref="backFaceCulling"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="attributes">
    <xs:complexType>
        <xs:sequence>
		  <xs:element ref="administrators"/>
		  <xs:element ref="site_contexts"/>
		  <xs:element ref="site_interpretations"/>
		  <xs:element ref="conditions"/>
		  <xs:element ref="object_types"/>
		  <xs:element ref="object_interpretations"/>
		  <xs:element ref="periods"/>
		  <xs:element ref="reliabilitys"/>
		  <xs:element ref="depression_types"/>
		  <xs:element ref="decoration_types"/>
		  <xs:element ref="depictions"/>
		  <xs:element ref="types"/>
		  <xs:element ref="subtypes"/>
		  <xs:element ref="techniques"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="administrator">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="administrators">
    <xs:complexType>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="administrator"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="site_context">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="site_contexts">
    <xs:complexType>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="site_context"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="site_interpretation">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="site_interpretations">
    <xs:complexType>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="site_interpretation"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="condition">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="conditions">
    <xs:complexType>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="condition"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="object_type">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="object_types">
    <xs:complexType>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="object_type"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="object_interpretation">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="object_interpretations">
    <xs:complexType>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="object_interpretation"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="period">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="periods">
    <xs:complexType>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="period"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="reliability">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="reliabilitys">
    <xs:complexType>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="reliability"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="depression_type">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="depression_types">
    <xs:complexType>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="depression_type"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="decoration_type">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="decoration_types">
    <xs:complexType>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="decoration_type"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="depiction">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="depictions">
    <xs:complexType>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="depiction"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="type">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="types">
    <xs:complexType>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="type"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="subtype">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="subtypes">
    <xs:complexType>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="subtype"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="technique">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="techniques">
    <xs:complexType>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="technique"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="staticObject">
    <xs:complexType>
        <xs:attribute ref="url" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="staticObjects">
  <xs:complexType>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="staticObject"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="setting">
    <xs:complexType>
      <xs:attribute ref="x" use="optional"/>
	  <xs:attribute ref="y" use="optional"/>
	  <xs:attribute ref="z" use="optional"/>
	  <xs:attribute ref="xs" use="optional"/>
	  <xs:attribute ref="ys" use="optional"/>
	  <xs:attribute ref="zs" use="optional"/>
	  <xs:attribute ref="h" use="optional"/>
	  <xs:attribute ref="p" use="optional"/>
	  <xs:attribute ref="r" use="optional"/>
	  <xs:attribute ref="castShadow" use="optional"/>
    </xs:complexType>
</xs:element>

<xs:element name="activeObject">
    <xs:complexType>
        <xs:sequence>
           <xs:element maxOccurs="1" minOccurs="1" ref="setting"/>
    	</xs:sequence>
        <xs:attribute ref="prototype" use="required"/>
        <xs:attribute ref="uniqueName" use="required"/>
        <xs:attribute ref="labelText" use="optional"/>
        <xs:attribute ref="labelColorRed" use="optional"/>
        <xs:attribute ref="labelColorGreen" use="optional"/>
        <xs:attribute ref="labelColorBlue" use="optional"/>
        <xs:attribute ref="labelRotateScreen" use="optional"/>
        <xs:attribute ref="outline" use="optional"/>
        <xs:attribute ref="Font" use="optional"/>
    </xs:complexType>
</xs:element>

<xs:element name="layer">
  <xs:complexType>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="activeObject"/>
    </xs:sequence>
    <xs:attribute ref="name" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="activeObjects">
  <xs:complexType>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="layer"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- The main node -->

<xs:element name="osgRCconfiguration">
  <xs:complexType>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="objectLibrary"/>
      <xs:element ref="cameras"/>
      <xs:element minOccurs="0" ref="preferences"/>
      <xs:element ref="attributes"/>
      <xs:element ref="staticObjects"/>
      <xs:element ref="activeObjects"/>
    </xs:sequence>
    <xs:attribute ref="version" use="required"/>
  </xs:complexType>
</xs:element>
</xs:schema>
