python/old_viaappia/viewer_conf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!-- definition of attributes -->
<xs:attribute type="xs:string" name="version"/>
<xs:attribute type="xs:string" name="url" />
<xs:attribute type="xs:string" name="name" />
<xs:attribute type="xs:float"  name="x" />
<xs:attribute type="xs:float"  name="y" />
<xs:attribute type="xs:float"  name="z" />
<xs:attribute type="xs:float"  name="h" />
<xs:attribute type="xs:float"  name="p" />
<xs:attribute type="xs:float"  name="r" />
<xs:attribute type="xs:float"  name="degrees"/>
<xs:attribute type="xs:float"  name="pixels"/>
<xs:attribute type="xs:byte"   name="touch"/>
<xs:attribute type="xs:float"  name="accel"/>
<xs:attribute type="xs:float"  name="friction"/>
<xs:attribute type="xs:float"  name="steerFriction"/>
<xs:attribute type="xs:byte"   name="on"/>
<xs:attribute type="xs:string" name="type"/>
<xs:attribute type="xs:float"  name="height"/>
<xs:attribute type="xs:byte"   name="near_2exp"/>
<xs:attribute type="xs:byte"   name="far_2exp"/>
<xs:attribute type="xs:byte"   name="maxCars"/>
<xs:attribute type="xs:float"  name="personDensity"/>
<xs:attribute type="xs:string" name="roads"/>
<xs:attribute type="xs:string" name="rooms"/>
<xs:attribute type="xs:float"  name="value"/>
<xs:attribute type="xs:float"  name="diffuse"/>
<xs:attribute type="xs:float"  name="ambient"/>
<xs:attribute type="xs:float"  name="sun_altitude"/>
<xs:attribute type="xs:float"  name="sun_azimuth"/>
<xs:attribute type="xs:float"  name="position_latitude"/>
<xs:attribute type="xs:float"  name="position_longitude"/>
<xs:attribute type="xs:float"  name="shadowIntensity"/>
<xs:attribute type="xs:float"  name="ssaoIntensity"/>
<xs:attribute type="xs:byte"   name="nearplane"/>
<xs:attribute type="xs:byte"   name="farplane"/>
<xs:attribute type="xs:byte"   name="mapcount"/>
<xs:attribute type="xs:byte"   name="mapsize"/>
<xs:attribute type="xs:byte"   name="polyoffsetfactor"/>
<xs:attribute type="xs:short"  name="polyoffsetunits"/>
<xs:attribute type="xs:byte"   name="update_shadowmap"/>
<xs:attribute type="xs:byte"   name="vizible" />
<xs:attribute type="xs:byte"   name="frozen" />
<xs:attribute type="xs:string" name="layer"/>
<xs:attribute type="xs:float"  name="xs" />
<xs:attribute type="xs:float"  name="ys" />
<xs:attribute type="xs:float"  name="zs" />
<xs:attribute type="xs:byte"   name="castShadow" />
<xs:attribute type="xs:string" name="status" />
<xs:attribute type="xs:string" name="prototype" />
<xs:attribute type="xs:string" name="uniqueName" />
<xs:attribute type="xs:string" name="labelText" />
<xs:attribute type="xs:float" name="labelColorRed" />
<xs:attribute type="xs:float" name="labelColorGreen" />
<xs:attribute type="xs:float" name="labelColorBlue" />
<xs:attribute type="xs:byte" name="labelRotateScreen" />
<xs:attribute type="xs:byte" name="outline" />
<xs:attribute type="xs:string" name="Font" />


<!-- definition of simple elements -->

<!-- definition of complex elements -->
<xs:element name="objectLibrary">
    <xs:complexType>
        <xs:attribute ref="url" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="camera">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
        <xs:attribute ref="x" use="required"/>
        <xs:attribute ref="y" use="required"/>
        <xs:attribute ref="z" use="required"/>
        <xs:attribute ref="h" use="required"/>
        <xs:attribute ref="p" use="required"/>
        <xs:attribute ref="r" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="cameras">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="camera" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="objectRotationSnap">
    <xs:complexType>
        <xs:attribute ref="degrees" use="required"/>
        <xs:attribute ref="pixels" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="screen">
    <xs:complexType>
        <xs:attribute ref="touch" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="mouse">
    <xs:complexType>
        <xs:attribute ref="accel" use="required"/>
        <xs:attribute ref="friction" use="required"/>
        <xs:attribute ref="steerFriction" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="softBrake">
    <xs:complexType>
        <xs:attribute ref="friction" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="keysLeftRight">
    <xs:complexType>
        <xs:attribute ref="accel" use="required"/>
        <xs:attribute ref="friction" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="keysForwardBackward">
    <xs:complexType>
        <xs:attribute ref="accel" use="required"/>
        <xs:attribute ref="friction" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="keysVerticalUpDown">
    <xs:complexType>
        <xs:attribute ref="accel" use="required"/>
        <xs:attribute ref="friction" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="flySmoothlyToCameras">
    <xs:complexType>
        <xs:attribute ref="on" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="walkMode">
    <xs:complexType>
        <xs:attribute ref="type" use="required"/>
        <xs:attribute ref="height" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="cameraParameters">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="screen" />
            <xs:element ref="mouse"/>
            <xs:element ref="softBrake" />
            <xs:element ref="keysLeftRight" />
            <xs:element ref="keysForwardBackward"/>
            <xs:element ref="keysVerticalUpDown"/>
            <xs:element ref="flySmoothlyToCameras"/>
            <xs:element ref="walkMode" />
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="slaveViewClearPitch">
    <xs:complexType>
        <xs:attribute ref="on" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="clip">
    <xs:complexType>
        <xs:attribute ref="near_2exp" use="required"/>
        <xs:attribute ref="far_2exp" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="simulation">
    <xs:complexType>
        <xs:attribute ref="maxCars" use="required"/>
        <xs:attribute ref="personDensity" use="required"/>
        <xs:attribute ref="roads" use="required"/>
        <xs:attribute ref="rooms" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="LODscale">
    <xs:complexType>
        <xs:attribute ref="value" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="light">
    <xs:complexType>
        <xs:attribute ref="diffuse" use="required"/>
        <xs:attribute ref="ambient" use="required"/>
        <xs:attribute ref="sun_altitude" use="required"/>
        <xs:attribute ref="sun_azimuth" use="required"/>
        <xs:attribute ref="position_latitude" use="required"/>
        <xs:attribute ref="position_longitude" use="required"/>
        <xs:attribute ref="shadowIntensity" use="required"/>
        <xs:attribute ref="ssaoIntensity" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="shadow">
    <xs:complexType>
        <xs:attribute ref="nearplane" use="required"/>
        <xs:attribute ref="farplane" use="required"/>
        <xs:attribute ref="mapcount" use="required"/>
        <xs:attribute ref="mapsize" use="required"/>
        <xs:attribute ref="polyoffsetfactor" use="required"/>
        <xs:attribute ref="polyoffsetunits" use="required"/>
        <xs:attribute ref="update_shadowmap" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="backFaceCulling">
    <xs:complexType>
        <xs:attribute ref="on" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="preferences">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="objectRotationSnap"/>
            <xs:element ref="cameraParameters" />
            <xs:element ref="slaveViewClearPitch"/>
            <xs:element ref="clip" />
            <xs:element ref="simulation"/>
            <xs:element ref="LODscale"/>
            <xs:element ref="light"/>
            <xs:element ref="shadow"/>
            <xs:element ref="backFaceCulling"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="attributes">
    <xs:complexType>
        <xs:sequence>
		  <xs:element ref="administrators"/>
		  <xs:element ref="site_contexts"/>
		  <xs:element ref="site_interpretations"/>
		  <xs:element ref="conditions"/>
		  <xs:element ref="object_types"/>
		  <xs:element ref="object_interpretations"/>
		  <xs:element ref="periods"/>
		  <xs:element ref="reliabilitys"/>
		  <xs:element ref="depression_types"/>
		  <xs:element ref="decoration_types"/>
		  <xs:element ref="depictions"/>
		  <xs:element ref="material_types"/>
		  <xs:element ref="material_subtypes"/>
		  <xs:element ref="material_techniques"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="administrator">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="administrators">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="administrator" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="site_context">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="site_contexts">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="site_context" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="site_interpretation">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="site_interpretations">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="site_interpretation" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="condition">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="conditions">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="condition" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="object_type">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="object_types">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="object_type" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="object_interpretation">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="object_interpretations">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="object_interpretation" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="period">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="periods">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="period" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="reliability">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="reliabilitys">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="reliability" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="depression_type">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="depression_types">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="depression_type" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="decoration_type">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="decoration_types">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="decoration_type" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="depiction">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="depictions">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="depiction" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="material_type">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="material_types">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="material_type" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="material_subtype">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="material_subtypes">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="material_subtype" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="material_technique">
    <xs:complexType>
        <xs:attribute ref="name" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="material_techniques">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="material_technique" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="staticObject">
    <xs:complexType>
        <xs:attribute ref="url" use="required"/>
    </xs:complexType>
</xs:element>

<xs:element name="staticObjects">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="staticObject" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="setting">
    <xs:complexType>
      <xs:attribute ref="x" use="optional"/>
	  <xs:attribute ref="y" use="optional"/>
	  <xs:attribute ref="z" use="optional"/>
	  <xs:attribute ref="xs" use="optional"/>
	  <xs:attribute ref="ys" use="optional"/>
	  <xs:attribute ref="zs" use="optional"/>
	  <xs:attribute ref="h" use="optional"/>
	  <xs:attribute ref="p" use="optional"/>
	  <xs:attribute ref="r" use="optional"/>
	  <xs:attribute ref="castShadow" use="optional"/>
    </xs:complexType>
</xs:element>

<xs:element name="activeObject">
    <xs:complexType>
        <xs:sequence>
           <xs:element ref="setting" maxOccurs="1" minOccurs="1"/>
    	</xs:sequence>
        <xs:attribute ref="prototype" use="required"/>
        <xs:attribute ref="uniqueName" use="required"/>
        <xs:attribute ref="labelText" use="optional"/>
        <xs:attribute ref="labelColorRed" use="optional"/>
        <xs:attribute ref="labelColorGreen" use="optional"/>
        <xs:attribute ref="labelColorBlue" use="optional"/>
        <xs:attribute ref="labelRotateScreen" use="optional"/>
        <xs:attribute ref="outline" use="optional"/>
        <xs:attribute ref="Font" use="optional"/>
    </xs:complexType>
</xs:element>

<xs:element name="layer">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="activeObject" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute ref="name" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="activeObjects">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="layer" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- The main node -->

<xs:element name="osgRCconfiguration">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="objectLibrary" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element ref="cameras"/>
      <xs:element ref="preferences" minOccurs="0"/>
      <xs:element ref="attributes"/>
      <xs:element ref="staticObjects"/>
      <xs:element ref="activeObjects"/>
    </xs:sequence>
    <xs:attribute ref="version" use="required"/>
  </xs:complexType>
</xs:element>
</xs:schema>